//-------------------------------------------------------
//- Modules :: Form
//-------------------------------------------------------

mixin input-text({label, id, type})
  label(for=id)= label
  input.form-control(
    type=type 
    id=id
  )
    
mixin checkbox({label, id})
  input.form-check-input(
    type='checkbox'
    id=id
  )
  label.form-check-label(for=id)= label
